body {
    background-color: #868d8b;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    border: 5px solid #116663;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 32px;
}

a {
    color: #116663;
}

p {
    text-align: center;
    font-size: 25px;
    padding: 0 15px;
}

img {
    width: 100%;
    display: block;
}


.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

figure {
    margin: 0;
    padding: 10px;
    border: 2px solid #116663;
    text-align: center;
}

figure img {
    width: 100%;
    height: auto;
}

figcaption {
    margin-top: 10px;
    font-size: 22px;
}


@media screen and (min-width: 772px) {

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    figure img {
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    figure:last-child {
        grid-column: 1 / span 2;
    }
}


@media screen and (min-width: 992px) {

    figure img {
        border-radius: 0;
    }

    figure:nth-child(3n) {
        grid-column: 1 / span 2;
    }
}


@media (prefers-reduced-motion: reduce) {

    html {
        scroll-behavior: auto;
    }
}


@media (prefers-color-scheme: dark) {

    body {
        background-color: #222;
        color: white;
    }

    figure {
        background-color: #333;
        color: #ffff99;
        border: 2px solid black;
    }
}

footer {
    display: flex;
    justify-content: center;
    margin: 20px;
}